*{
    padding: 0;
    margin: 0;
}
/* body{
    width: 100%;
    background-image: url(./image/salad-2068220_1280.jpg); width: 100%;
    background-repeat: no-repeat centre centre/coloumn ;
    opacity: 0.8;
} */
 